<div class="container-fluid">
	<div class="row text-center"  style="margin-top:18%;">
		<?php echo $this->Html->link("Start Exam", "/examinees/start", array("class"=>"btn btn-default btn-lg btn-primary", "style"=>"padding: 30px 70px 30px 70px;"));?>
	</div>
		
</div>