.page-head-line {
    font-weight: 900;
    padding-bottom: 20px;
    border-bottom: 2px solid #1abc9c;
    text-transform: uppercase;
    color: #1abc9c;
    font-size: 20px;
    margin-bottom: 40px;
}
header, footer{
     background: #1abc9c;
}
.navbar-inverse{
    background: #1abc9c;
    font-family: 'Roboto', sans-serif;


}
.navbar-nav li{

    text-transform: uppercase;
}

.navbar-inverse .navbar-nav>li.menu-top-active{
     background: #119c7e;
}

.navbar-inverse .navbar-nav>li>a{
    color: #ffffff!important;
}
#day, #month, #year{
    width: 20%;
    display: inline-block;
}
.btn-file{
    background-color: #5cb85c!important;
    border-color: #4cae4c!important;
}
.navbar-toggle {
    background-color:  #119c7e!important;
}
   